{% include upper.html %}
{% capture nextEntry %}/gallery/redirect.php?prev={{ page.entryNum }}{% endcapture %}
{% capture prevEntry %}/gallery/redirect.php?next={{ page.entryNum }}{% endcapture %}
{% capture lastEntry %}/gallery/redirect.php?last=1{% endcapture %}
{% capture firstEntry %}/gallery/redirect.php?first=1{% endcapture %}
{% capture upEntry %}/gallery/parent.php?of={{ page.entryNum }}{% endcapture %}
<script src="/js/voting.js"></script>
{% include navigation.html prev = prevEntry next = nextEntry up = upEntry first = firstEntry last = lastEntry galleryRandom = true showLimits = true %}
<div class="row justify-content-center">
    <div class="col-2">
        <button id="button-{{ page.entryNum }}" type="button" class="btn btn-danger btn-lg" onclick="voteFor('{{ page.entryNum }}');">
            Like <span data-num="{{ page.entryNum }}" class="badge badge-light votecounter">0</span>
        </button>
    </div>
    <div class="col-10"><p>
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
            <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
        This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
        Use the "Show on Create Page"
        button to find links to the contributing artists</p>
    </div>
</div>
    <script>fillBadges();</script>
                        {{ content }}
                        <div id="comment-target"></div>
                        <script>jQuery('#comment-target').load('/gallery/comments.php?refnum={{ page.entryNum }}');</script>
                        <p>If you have some helpful feedback or would like to comment on this shield design please click on the button below. Your comment will be moderated and added to this page.</p>
{% capture thisRef %}gallery-{{ page.entryNum }}{% endcapture %}
{% include reply.html reference = thisRef caption = "Comment" prompt = "Some helpful feedback..." noemail = true %}    
{% include navigation.html prev = prevEntry next = nextEntry up = upEntry first = firstEntry last = lastEntry  galleryRandom = true showLimits = true %}
{% include lower.html %}
