{% include upper.html %}
{% capture atoz %}
<div class="text-center az-list"
<span class="atoz">
<a href="index.html">Contents</a>&nbsp;
<a href="a.html">A</a>&nbsp;
<a href="b.html">B</a>&nbsp;
<a href="c.html">C</a>&nbsp;
<a href="d.html">D</a>&nbsp;
<a href="e.html">E</a>&nbsp;
<a href="f.html">F</a>&nbsp;
<a href="g.html">G</a>&nbsp;
<a href="h.html">H</a>&nbsp;
<a href="i.html">I</a>&nbsp;
<a href="j.html">J</a>&nbsp;
K&nbsp;
<a href="l.html">L</a>&nbsp;
<a href="m.html">M</a>&nbsp;
<a href="n.html">N</a>&nbsp;
<a href="o.html">O</a>&nbsp;
<a href="p.html">P</a>&nbsp;
<a href="q.html">Q</a>&nbsp;
<a href="r.html">R</a>&nbsp;
<a href="s.html">S</a>&nbsp;
<a href="t.html">T</a>&nbsp;
<a href="u.html">U</a>&nbsp;
<a href="v.html">V</a>&nbsp;
W&nbsp;
X&nbsp;
<a href="y.html">Y</a>&nbsp;
Z&nbsp;
<a href="search.html"><button type="button" class="btn-danger btn-sm" >Search</button></a>
</span>
</div>
<div class="text-center az-list">
	<span class="atoz">Links to Plates:&nbsp;
		<a href="plateI.html">-1-</a>&nbsp;
		<a href="plateII.html">-2-</a>&nbsp;
		<a href="plateIII.html">-3-</a>&nbsp;
		<a href="plateIV.html">-4-</a>&nbsp;
		<a href="plateV.html">-5-</a>&nbsp;
		<a href="plateVI.html">-6-</a>&nbsp;
		<a href="plateVII.html">-7-</a>&nbsp;
	</span>
</div>
{% endcapture %}
{{ atoz }}
{% if page.upLink   %}{% include navigation.html prev = page.prevLink   next = page.nextLink   up = page.upLink   %}{% endif %}
                        {{ content }}
{% if page.upLink   %}{% include navigation.html prev = page.prevLink   next = page.nextLink   up = page.upLink   %}{% endif %}
{{ atoz }}
{% include lower.html %}
