/* 
    Created on : 29-Jun-2017, 11:31:14
    Author     : karlwilcox
*/

@font-face {
    font-family: 'GoudyStM';
    src: url('../fonts/GoudyStM-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GoudyStM-webfont.ttf') format('truetype'),
         url('../fonts/GoudyStM-webfont.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'GoudyStM';
    src: url('../fonts/GoudyStM-Italic-webfont.eot') format('embedded-opentype'),
         url('../fonts/GoudyStM-Italic-webfont.ttf') format('truetype'),
         url('../fonts/GoudyStM-Italic-webfont.woff') format('woff');
    font-style: italic;
}


@font-face {
    font-family: 'Junction';
    src: url('../fonts/junction-bold.eot');
    src: url('../fonts/junction-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/junction-bold.woff') format('woff'),
         url('../fonts/junction-bold.ttf') format('truetype'),
         url('../fonts/junction-bold.svg#junctionbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Junction';
    src: url('../fonts/junction-light.eot');
    src: url('../fonts/junction-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/junction-light.woff') format('woff'),
         url('../fonts/junction-light.ttf') format('truetype'),
         url('../fonts/junction-light.svg#junctionlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Junction';
    src: url('../fonts/junction-regular.eot');
    src: url('../fonts/junction-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/junction-regular.woff') format('woff'),
         url('../fonts/junction-regular.ttf') format('truetype'),
         url('../fonts/junction-regular.svg#junctionregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

a {
  color: #03f;
}

html, body {
    margin: 0;
    font-family: GoudyStM, "Times New Roman", Times, serif;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #fcf4db;
}

.modal-content {
    background-color: #fcf4db;
}

.dropdown-menu {
    background: #eacb8e;  
}

.bg-danger {
    background-color: #d03718;
}

h1, h2, h3, .modal-header {
  color: #d03718;
}

nav, footer, .breadcrumb,
.btn-primary, .card {
    background-color: #F4E8B4;
}

.btn-primary:hover {
  color: #0062cc;
}

.navbar, .navbar-text {
    padding-top: 0px;
    padding-bottom: 0px;
}

address {
    display: inline-block;
}

.carousel-caption, aside {
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
    background: #EACB8E;
    min-width: 200px;
}

main, footer {
    position: relative;
    top: 65px;
}

aside img, aside form, aside input {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-primary {
    color: #1B1676;
    background-color: #f4e8b4;
    border-color: #0275d8;
}

.btn-primary:hover {
    background-color: #edda88;  
}


/* stuff for blazons and user-guide */

span.keyword {
    font-weight: bold;
}

span.example {
    font-style: italic;
}

.blazon {
    font-style: italic;
}

figure.public-arms-illustration {
    max-width: 700px;
}

p.reference, p.footnote {
    font-family: 'Junction';
    font-size: small;
}

img.flag {
    display: inline;
    position: relative;
    top: -5px;
    margin-right: 4px;
}

div.combobox-container {
    display: inline-block;
}

/* Stuff for the side menu */

.sidemenu-wrapper {
  display: flex;
  align-items: stretch;
}

#sidemenu {
  min-width: 200px;
  max-width: 200px;
  min-height: 100vh;
  background: #eacb8e;
  color: #d03718;
  transition: all 0.3s;
  position: relative;
  left: -30px;
}

#sidemenu.active {
  margin-left: -200px;
}

#sidemenu a[data-toggle="collapse"] {
    position: relative;
}

#sidemenu a[aria-expanded="false"]::before, #sidemenu a[aria-expanded="true"]::before {
    content: '+';
    display: block;
    position: absolute;
    right: 0;
    font-size: 0.6em;
}

#sidemenu a[aria-expanded="true"]::before {
    content: '-';
}

#sidemenu .sidemenu-header {
    padding: 20px;
    background: #f4e8b4;
}

#sidemenu ul.components {
    padding: 20px 10px;
    border-bottom: 1px solid #47748b;
}

#sidemenu ul p {
    padding: 10px; 
}

#sidemenu ul li a {
     font-size: 1.1em;
    display: block;
}

#sidemenu ul li a:hover, #sidemenu ul li.active {
    background: #f4e8b4;
    text-decoration: none;
}

#sidemenu ul li ul li {
  padding-left: 15px;
}

@media (max-width: 768px) {
    #sidemenu {
    display: none;
  }
}

.carousel-caption {
    position: relative;
    left: 0;
    top: 0;
}


/* Bits for Rietstap translation */

.french-original {
    color: grey;
}

.translator-note {
    color: DarkSlateGrey;
}

.translator-note::before {
    content: "[";
}

.translator-note::after {
    content: "]";
}

span.emphasise {
    font-weight: bold;
}

.ekko-lightbox-nav-overlay a {
    color: black !important;
}

.list-group-item {
  background-color: #fcf4db;
}
a.list-group-item-action {
    color: #0033FF;
}

/* Bits for the blazon editor */

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}

.CodeMirror pre.CodeMirror-placeholder { color: #999; }

/* The tinctures */
.cm-s-default .cm-azure {color: #1E7FCB;}
.cm-s-default .cm-sable {color: #050505;}
.cm-s-default .cm-or {color: #EFD807; background-color: darkgrey;}
.cm-s-default .cm-vert {color: #149414 ;}
.cm-s-default .cm-argent {color: white; background-color: lightgrey;}
.cm-s-default .cm-gules {color: #E21313;}
.cm-s-default .cm-brunatre {color: #7E0001;}
.cm-s-default .cm-purpure {color: #965578;}
.cm-s-default .cm-murrey {color: #8C004B;}
.cm-s-default .cm-sanguine {color: #850606;}
.cm-s-default .cm-carnation {color: #FEC3AC;}
.cm-s-default .cm-rose {color: #FF006E;}
.cm-s-default .cm-orange {color: #FAA401;}
.cm-s-default .cm-tenne {color: #A75502;}
.cm-s-default .cm-cendree {color: #848484;}
.cm-s-default .cm-celestial {color: #96C8F9;}
.cm-s-default .cm-bisque {color: #F1E2BE; background-color: darkgray;}
.cm-s-default .cm-senois {color: #8D4024;}
/* Furs */
.cm-s-default .cm-black-white {color: white;  background-color: black;}
.cm-s-default .cm-black-yellow {color: #EFD807;  background-color: black;}
.cm-s-default .cm-blue-white {color: white;  background-color: blue;}
/* Numbers */
.cm-s-default .cm-number {color: #085;}
/* Non-standard extensions */
.cm-s-default .cm-string {color: #4b8458;}
.cm-s-default .cm-charge-adjustment {color: #dc07e4;}
.cm-s-default .cm-drawing-instructions {color: #a50;}

.cm-s-default .cm-comment {color: #d0166d; background-color: #ffeaf4}
.cm-s-default .cm-square-brackets {color: #050505; background-color: lightgrey; 
                        text-decoration: underline; text-decoration-style: wavy;}
.cm-s-default .cm-round-brackets {color: #050505; 
                        font-style: italic;}

