<!-- _includes/donate.ejs starts -->
{% include aside_header.html title="Please Help!" divId="donateTitle"  %}
<div id="donate">
    <p class="card-text mb-0">I work on Drawshield.net in return for coffee, but AWS
		want real $$$ for the server...
	</p>  
	<img class="d-block img-fluid" src="/img/karl-at-work.jpg" alt="Coffee and cake">
    <p>Please donate to make sure we don't run out of either!</p> 
    <p><a href="http://paypal.me/drawshield/10USD">paypal.me/drawshield</a> </p>
</div>   
{% include aside_footer.html %}

<!-- _includes/donate.ejs ends -->
