<div class="card">
<p class="card-text">Charge finder:&nbsp;
<select id="combo-dropdown">
<option disabled="disabled" selected="selected" value="">Enter text</option>
{%- assign collection = site.collections | where: 'label', 'catalog' | first -%}
{%- assign pageURL = '_catalog/charges/' -%}
{%- for file in collection.files -%}
	{%- if file.path contains pageURL -%}
		{%- if file.extname == '.png' -%}
            {%- assign caption = file.name | remove: '.png' | replace: '-', ' ' -%}
            {%- assign folder = file.path | remove: pageURL | split: '/' | first -%}
<option class="{{ folder }}" value="{{ file.name }}">{{ caption }}</option>
		{%- endif -%}
	{%- endif -%}
{%- endfor -%}
<!-- <option class="animal" value="anteater-rampant.png">anteater rampant</option> -->
</select>&nbsp;
<button type="button" class="btn-danger btn-sm" onclick="showImg();">Show</button>&nbsp;
{% case include.button %}
    {% when "add" %}
<button type="button" class="btn-danger btn-sm" onclick="addChg();">Add</button>&nbsp;
    {% when "gopage" %}
<button type="button" class="btn-danger btn-sm" onclick="goPage('charges');">Goto Page</button>&nbsp;
{% endcase %}
<button type="button" class="btn-danger btn-sm" onclick="clearImg();">Clear</button>
</p>
</div>
<div id="chargeImg" style="display:none" class="card text-center">
<div class="card-block">
<img src="#" id="thumbnail" alt="charge"/>
</div>
<h4 class="card-title" id="description"></h4>
<p class="card-text" id="category"></p>
</div>
<script>
jQuery('#combo-dropdown').combobox({
    bsVersion:'4'
})
</script>
