<div class="card">
<p class="card-text">Edge finder:&nbsp;
<select id="e-combo-dropdown">
<option disabled="disabled" selected="selected" value="">Enter text</option>
<option class="edge variant" value="angled.png">angled</option>
<option class="edge variant" value="arched.png">arched</option>
<option class="edge variant" value="battled-embattled.png">battled embattled</option>
<option class="edge variant" value="bevilled.png">bevilled</option>
<option class="edge variant" value="dancetty.png">dancetty</option>
<option class="edge variant" value="dancetty-floretty.png">dancetty floretty</option>
<option class="edge variant" value="double-arched.png">double arched</option>
<option class="edge variant" value="dovetailed.png">dovetailed</option>
<option class="edge variant" value="embattled.png">embattled</option>
<option class="edge variant" value="embattled-arrondi.png">embattled arrondi</option>
<option class="edge variant" value="embattled-brettessy.png">embattled brettessy</option>
<option class="edge variant" value="embattled-counter-embattled.png">embattled counter-embattled</option>
<option class="edge variant" value="embattled-cupolaed.png">embattled cupolaed</option>
<option class="edge variant" value="embattled-gabley.png">embattled gabley</option>
<option class="edge variant" value="embattled-grady.png">embattled grady</option>
<option class="edge variant" value="embattled-in-the-form-of-mine-dumps.png">embattled in the form of mine dumps</option>
<option class="edge variant" value="engrailed.png">engrailed</option>
<option class="edge variant" value="erable.png">erable</option>
<option class="edge variant" value="escartelly.png">escartelly</option>
<option class="edge variant" value="fir-tree-topped.png">fir tree topped</option>
<option class="edge variant" value="fir-twigged.png">fir twigged</option>
<option class="edge variant" value="hakulikoro.png">hakulikoro</option>
<option class="edge variant" value="indented.png">indented</option>
<option class="edge variant" value="indented-pommetty.png">indented pommetty</option>
<option class="edge variant" value="invected.png">invected</option>
<option class="edge variant" value="liljakoro.png">liljakoro</option>
<option class="edge variant" value="nebuly.png">nebuly</option>
<option class="edge variant" value="nowy.png">nowy</option>
<option class="edge variant" value="potenty.png">potenty</option>
<option class="edge variant" value="raguly.png">raguly</option>
<option class="edge variant" value="rayonny.png">rayonny</option>
<option class="edge variant" value="ristikoro.png">ristikoro</option>
<option class="edge variant" value="thorny.png">thorny</option>
<option class="edge variant" value="trefle-counter-trefle.png">trefle counter trefle</option>
<option class="edge variant" value="urdy.png">urdy</option>
<option class="edge variant" value="vallikoro.png">vallikoro</option>
<option class="edge variant" value="wavy.png">wavy</option>
</select>&nbsp;
<button type="button" class="btn-danger btn-sm" onclick="showEdgeImg();">Show</button>&nbsp;
{% unless include.skipadd %}
<button type="button" class="btn-danger btn-sm" onclick="addEdge();">Add</button>&nbsp;
{% endunless %}
<button type="button" class="btn-danger btn-sm" onclick="clearEdgeImg();">Clear</button>
</p>
</div>
<div id="edgeImg" style="display:none" class="card text-center">
<div class="card-block">
<img src="#" id="e-thumbnail" alt="edge"/>
</div>
<h4 class="card-title" id="e-description"></h4>
<p class="card-text" id="e-category"></p>
</div>
<script>
jQuery('#e-combo-dropdown').combobox({
bsVersion:'4'
})
</script>
