<!-- _includes/flashcards.ejs starts -->
{% include aside_header.html title="Test Me" %}
	<div id="flashcard">
	    <img src="#" class="img-fluid mx-auto d-block" alt="flashcard image">
	    <p class="question mb-0"></p>
	    <button type="button" onclick="buttonHandler();" class="btn btn-primary" >Reveal Answer</button>
	    <p class="answer mb-0"></p>
	    <script src="/js/flashcards.js"></script>
	    <script>$(function() { askQuestion(); });</script>
	</div>
{% include aside_footer.html %}

<!-- _includes/flashcards.ejs ends -->
