<!-- _includes/follow.html starts -->
{% include aside_header.html title="Follow" %}
<a href="https://discord.gg/s7aNZnyqR3">
<img src="/img/discord-logo.png" alt="Discord Logo" style="width: 150px;"/></a>
<p><a href="https://discord.gg/s7aNZnyqR3">DrawShield Discord</a></p>
<div class="mt-2">
	<a href="https://twitter.com/drawshield?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @drawshield</a>
</div>
<script async src="//platform.twitter.com/widgets.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<p><a href="http://twitter.com/drawshield">twitter.com/drawshield</a></p>
<a href="https://github.com/drawshield/projects/2">
<img src="/img/github.png" alt="Github logo" style="width: 150px;"/></a>
<p><a href="https://github.com/orgs/drawshield/projects/2">Github Project</a></p>
<a href="https://www.youtube.com/channel/UCdD-Y_wxgZwO03lLEIo6alA">
<img src="/img/yt_logo_rgb_light.png" alt="Youtube logo" style="width: 150px;"/></a>
<p><a href="https://www.youtube.com/channel/UCdD-Y_wxgZwO03lLEIo6alA">DrawShield Channel</a></p>
{% include aside_footer.html %}
<!-- _includes/follow.html ends -->
