<!-- _includes/gplus.ejs starts -->
{% include aside_header.html title="Follow" %}
<div class="mt-2">
	<a href="https://twitter.com/drawshield?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @drawshield</a>
</div>
<script async src="//platform.twitter.com/widgets.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<p><a href="http://twitter.com/drawshield">twitter.com/drawshield</a></p>
<a href="https://github.com/karlwilcox/Drawshield-Code">
<img src="/img/github.png" alt="github logo" style="width: 150px;"/></a>
<p><a href="https://github.com/karlwilcox/Drawshield-Code">Code on GitHub</a></p>
<a href="https://trello.com/b/3gZPyGW7/drawshieldnet#">
<img src="/img/trello.png" alt="Trello logo" style="width: 150px;"/></a>
<p><a href="https://trello.com/b/3gZPyGW7/drawshieldnet#">ToDo List on Trello</a></p>
<script>reddit_target='/r/heraldry'</script>
{% include aside_footer.html %}
<!-- _includes/gplus.ejs ends -->
