<!-- _includes/follow.html starts -->
{% include aside_header.html title="Follow" %}
<a href="https://discord.gg/YZpTjR7QUA">
<img src="/img/discord-logo.png" alt="Discord Logo" style="width: 150px;"/></a>
<p><a href="https://discord.gg/YZpTjR7QUA">DrawShield Discord</a></p>
<a href="https://github.com/orgs/drawshield/projects/2">
<img src="/img/github.png" alt="Github logo" style="width: 150px;"/></a>
<p><a href="https://github.com/orgs/drawshield/projects/2">Github Project</a></p>
<a href="https://www.youtube.com/channel/UCdD-Y_wxgZwO03lLEIo6alA">
<img src="/img/yt_logo_rgb_light.png" alt="Youtube logo" style="width: 150px;"/></a>
<p><a href="https://www.youtube.com/channel/UCdD-Y_wxgZwO03lLEIo6alA">DrawShield Channel</a></p>
<p><a href="https://www.buymeacoffee.com/drawshield/posts"><script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="drawshield/posts" data-color="#FF5F5F" data-emoji=""  data-font="Cookie" data-text="Read the blog" data-outline-color="#000000" data-font-color="#ffffff" data-coffee-color="#FFDD00" ></script><a></p>
    <p><a href="https://www.buymeacoffee.com/drawshield/posts">Read the Blog<a></p>
{% include aside_footer.html %}
<!-- _includes/follow.html ends -->
