<!-- _includes/footer.ejs starts -->
<footer>
    <div class="container p-t-2"> 
        <div class="row"> 
            <div class="col-lg-12"> 
                <address><a href="">{{ site.siteURL }}</a></address>&nbsp;&rarr;&nbsp;<a href="/about.html">About this site</a>&nbsp;&rarr;&nbsp;Copyright Karl Wilcox &copy; 2020 Last Update {{ "now" | date: "%Y-%m-%d %H:%M" }} Layout: {{ page.layout }} Page: {{ page.path }}
            </div> 
        </div> 
    </div>
</footer>
<!-- _includes/footer.ejs ends -->
