<!-- _includes/header.ejs starts -->
<header>
    <nav class="navbar fixed-top navbar-expand-lg">
        <a href="/index.html"><img class="navbar-brand p-0" src="/img/shop-logo.png" height="58" width="48" alt="Shop Logo Image"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">=</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li> -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle lead" href="/create/index.html" id="dropDownLinks1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Create
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropDownLinks1">
                        <a class="dropdown-item" href="/create/index.html">Create from a Blazon</a>
                        <a class="dropdown-item" href="/build/index.html">Build from Parts</a>
                        <a class="dropdown-item" href="/random/index.html">Create Random Blazon</a>
                        <a class="dropdown-item" href="/w40k/index.html">Build a W40K Pauldron</a>
                        <a class="dropdown-item" href="/gallery/index.html">View the Gallery</a>
                        <a class="dropdown-item" href="/catalog/index.html">Visual Catalog</a>
                        <a class="dropdown-item" href="/translate/index.html">French to English Translation</a>
                    </div>
                </li>
                <li class="nav-item dropdown lead">
                    <a class="nav-link dropdown-toggle" href="/tutorial/index.html" id="dropDownLinks2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Learn
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropDownLinks2">
                        <a class="dropdown-item" href="/doc">Docs (in prog)</a>
                        <a class="dropdown-item" href="/user-guide/index.html">User Guide</a>
                        <a class="dropdown-item" href="/tutorial/index.html">Blazonry Tutorial</a>
                        <a class="dropdown-item" href="/resources/identify.html">Identifying Shields</a>
                        <a class="dropdown-item" href="/quiz/index.html">Pick the Blazon Quiz</a>
                        <a class="dropdown-item" href="/resources/poster.html">Quick Reference Poster</a>
                    </div>
                </li>
                <li class="nav-item dropdown lead">
                    <a class="nav-link dropdown-toggle" href="/tutorial/index.html" id="dropDownLinks3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Refer
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropDownLinks3">
                        <a class="dropdown-item" href="/reference/index.html">Heraldry Reference Books</a>
                        <a class="dropdown-item" href="/reference/random.php">Random Reference Entry</a>
                        <a class="dropdown-item" href="/reference/parker/index.html">Parker's Heraldic Dictionary</a>
                        <a class="dropdown-item" href="/reference/elvin/index.html">Elvin's Heraldic Dictionary</a>
                        <a class="dropdown-item" href="/reference/public-arms/index.html">Book of Public Arms</a>
                        <a class="dropdown-item" href="/reference/rietstap/index.html">Rietstap French/English</a>
                    </div>
                </li>
                <li class="nav-item dropdown lead">
                    <a class="nav-link dropdown-toggle" href="/reference/index.html" id="dropDownLinks4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Resources
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropDownLinks4">
                        <a class="dropdown-item" href="/resources/index.html">Useful Resources</a>
                        <a class="dropdown-item" href="/gplus/index.html">Google+ Heraldry Archive</a>
                        <a class="dropdown-item" href="/resources/reference-api.html">API Documentation</a>
                        <a class="dropdown-item" href="/resources/poster.html">Reference Poster</a>
                        <a class="dropdown-item" href="/resources/colouring.html">Colouring Books</a>
                        <a class="dropdown-item" href="/resources/font.html">DrawShield Font</a>
                    </div>
                </li>
                <li class="nav-item dropdown lead">
                    <a class="nav-link dropdown-toggle" href="/contact/index.html" id="dropDownLinks5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Contact
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropDownLinks5">
                        <a class="dropdown-item" href="/contact/bug-reports.html">Bug Responses</a>
                        <a class="dropdown-item" href="/news/todo-list.html">To Do List</a>
                        <a class="dropdown-item" href="/news/announcements.html">Announcements</a>
                        <a class="dropdown-item" href="/blog/index.html">Blog Posts</a>
                        <a class="dropdown-item" href="/contact/index.html">Contact the Author</a>
                    </div>
                </li>     
            </ul>
            <form class="d-inline d-sm-none form-inline my-2 my-lg-0" id="search-form" action="/api/define/">
                <input  id="search-term" class="form-control mr-sm-2" type="text" placeholder="term"> <button id="define-term" class="btn btn-danger my-2 my-sm-0" type="submit">Define</button>
            </form>
        </div>
        <form class="d-none d-sm-inline form-inline my-2 my-lg-0" id="search-form" action="/api/define/">
            <input  id="search-term" class="form-control mr-sm-2" type="text" placeholder="term"> <button id="define-term" class="btn btn-danger my-2 my-sm-0" type="submit">Define</button>
        </form>
    </nav>
</header>
<!-- Modal -->
<div class="modal fade" id="definition-modal" tabindex="-1" role="dialog" aria-labelledby="Heraldic Term Definition" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="definition-title">Heraldic Definition</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="define-content">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- _includes/header.ejs ends -->
