<!-- _includes/navigation.ejs starts -->
<div>
    <nav class="text-center" aria-label="Page navigation">
        {% assign prevState="disabled" %}
        {% assign firstState="disabled" %}
        {% assign nextState="disabled" %}
        {% assign upState="disabled" %}
        {% assign lastState="disabled" %}
        {% assign firstLabel="First" %}
        {% assign lastLabel="Last" %}
        {% assign prevLabel="Previous" %}
        {% assign nextLabel="Next" %}
        {% if include.prev %} {% assign prevState="" %} {% endif %}
        {% if include.first %} {% assign firstState="" %} {% endif %}
        {% if include.next %} {% assign nextState="" %} {% endif %}
        {% if include.last %} {% assign lastState="" %} {% endif %}
        {% if include.up %} {% assign upState="" %} {% endif %}
        {% if include.galleryRandom %}
        {% assign firstLabel="Newest" %}
        {% assign lastLabel="Oldest" %}
        {% assign prevLabel="Newer" %}
        {% assign nextLabel="Older" %}
        {% endif %}
        <ul class="pagination">
            {% if include.showLimits %}
            <li class="page-item {{ firstState }}"> 
                <a class="page-link first-link" href="{{ include.first}}">{{ firstLabel }}</a>
            </li>
            {% endif %}
            <li class="page-item {{ prevState }}"> 
                <a class="page-link prev-link" href="{{ include.prev }}">{{ prevLabel }}</a>
            </li>
            <li class="page-item  {{ upState }}">
                <a class="page-link up-link" href="{{ include.up }}">Up</a>
            </li>
            <li class="page-item {{ nextState }}">
                <a class="page-link next-link" href="{{ include.next }}">{{ nextLabel }}</a>
            </li>
            {% if include.showLimits %}
            <li class="page-item {{ lastState }}"> 
                <a class="page-link last-link" href="{{ include.last}}">{{ lastLabel }}</a>
            </li>
            {% endif %}
            {% if include.galleryRandom %}
            <li class="page-item enabled">
                <a class="page-link random-link" href="/gallery/random.html">Random</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>

<!-- _includes/navigation.ejs ends -->
