<!-- _includes/poster.ejs starts -->
{% include aside_header.html title="Buy Poster" %}
		<img src="/img/poster-tiny.png" alt="Tiny version of poster" class="img-fluid">
	    <p class="mb-0"><img class="flag" src="/img/uk-flag.png" alt="UK flag"><a href="https://www.zazzle.co.uk/drawshield">UK Shop</a>
		<br><img class="flag" src="/img/us-flag.png" alt="US Flag"><a href="https://www.zazzle.com/drawshield">US Store</a>
		<br><img class="flag" src="/img/canada-flag.png" alt="Canadian Flag"><a href="https://www.zazzle.ca/drawshield">Canada Store</a>
		</p>
{% include aside_footer.html %}

<!-- _includes/poster.ejs ends -->
