{% capture reference %}{{ include.reference | default: "general" }}{% endcapture %}
{% capture caption %}{{ include.caption | default: "Reply" }}{% endcapture %}
{% capture prompt %}{{ include.prompt | default: "Say something..." }}{% endcapture %}
<div class="reply-button">
    <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#reply-{{ reference }}" aria-expanded="false" aria-controls="reply-{{ reference }}">{{ caption }}</a>
    </p>
</div>
<div class="collapse container" id="reply-{{ reference }}">
	<form class="contact-form" method="post" action="/contact/reply-form.php" role="form">
		<div class="row">
			<div class="col-12">
				<div class="form-group">
			        <label for="message-{{ reference }}">Message *</label>
			        <textarea id="message-{{ reference }}" name="message" class="form-control" placeholder="{{ prompt }}" rows="4" required="required" data-error="Please leave me a message."></textarea>
			        <div class="help-block with-errors"></div>
			    </div>
			</div>
			{% unless include.noemail %}
		    <div class="col-12">
		        <div class="form-group">
		            <label for="email-{{ reference }}">Email</label>
		            <input id="email-{{ reference }}" type="email" name="email" class="form-control" placeholder="Enter your email if you would like me to reply" data-error="That email does not seem valid?">
		            <div class="help-block with-errors"></div>
		        </div>
			</div>
			{% endunless %}
		  	<div class="col-12">
		  		<input type="hidden" name="reference" value="{{ reference }}">
		        <input type="submit" class="btn btn-danger btn-send" value="Send message">
		    </div>
		</div>
	</form>
</div>
