{% assign datatext = include.message | default "DrawShield.net - Heraldry Creation Tools" %}
            <div id="social-links" class="ssk-group float-right" data-url="http://drawshield.net/create/index.html" data-text="{{ datatext }}" >
                <a href="" class="ssk ssk-facebook"></a>
                <a href="" class="ssk ssk-twitter"></a>
                <a href="" class="ssk ssk-google-plus"></a>
                <a href="" class="ssk ssk-pinterest"></a>
                <a href="" class="ssk ssk-tumblr"></a>
                <a href="" class="ssk ssk-vk"></a>
                <a href="" class="ssk ssk-linkedin"></a>
                <a href="" class="ssk ssk-email"></a>
            </div>
