<!-- Sidebar Header -->
<div class="sidemenu-header">
    <h3>Tutorial</h3>
</div>
<!-- Sidebar Links -->
<ul class="list-unstyled components">
    <li class="{{ page.contents }}"><a href="/tutorial/index.html"  >Contents</a></li>    
    <li class="{{ page.menu00 }}"><a href="/tutorial/00-intro.html"  >What is Blazonry</a></li>
    <li class="{{ page.menu01 }}"><a href="/tutorial/01-blazon-structure.html"  >The Structure of a Blazon</a></li>
    <li class="{{ page.menu02 }}"><a href="/tutorial/02-divided-fields.html"  >Dividing Fields</a></li>
    <li class="{{ page.menu03 }}"><a href="/tutorial/03-simple-ordinaries.html"  >Simple Ordinaries</a></li>
    <li class="{{ page.menu04 }}"><a href="/tutorial/04-simple-charges.html"  >Simple Charges</a></li>
    <li class="{{ page.menu05 }}"><a href="/tutorial/05-test-1.html"  >Self Test 1</a></li>
    <li class="{{ page.menu06 }}"><a href="/tutorial/06-furs.html"  >Furs</a></li>
    <li class="{{ page.menu07 }}"><a href="/tutorial/07-treatments.html"  >Treatments</a></li>
    <li class="{{ page.menu08 }}"><a href="/tutorial/08-vary-edges.html"  >Varying Edges</a></li>
    <li class="{{ page.menu09 }}"><a href="/tutorial/09-advanced-ords.html"  >Advanced Ordinaries</a></li>
 <!--   <li class="{{ page.menu10a }}"><a href="/tutorial/10a-test-2.html"  >Self Test 2</a></li>
    <li class="{{ page.menu10b }}"><a href="/tutorial/10b-ans-2.html"  >Test 2 Answers</a></li>
    <li class="{{ page.menu11 }}"><a href="/tutorial/11-recharging.html"  >Re-charging</a></li>
    <li class="{{ page.menu12 }}"><a href="/tutorial/12-arrangements-1.html"  >By the Numbers</a></li>
    <li class="{{ page.menu13 }}"><a href="/tutorial/13-arrangements-2.html"  >Named Arrangments</a></li>
    <li class="{{ page.menu14 }}"><a href="/tutorial/14-orientations.html"  >Which Way is Up?</a></li> 
    <li class="{{ page.menu15a }}"><a href="/tutorial/15a-test-3.html"  >Self Test 3</a></li>
    <li class="{{ page.menu15b }}"><a href="/tutorial/15b-ans-3.html"  >Test 3 Answers</a></li>
    <li class="{{ page.menu16 }}"><a href="/tutorial/16-locations.html"  >Where You At?</a></li>
    <li class="{{ page.menu17 }}"><a href="/tutorial/17-on-ordinary.html"  >On And Around</a></li>
    <li class="{{ page.menu18 }}"><a href="/tutorial/18-features.html"  >Features and Modifiers</a></li>
    <li class="{{ page.menu19 }}"><a href="/tutorial/19-quartering.html"  >Drawn and Quartered</a></li>
    <li class="{{ page.menu20a }}"><a href="/tutorial/20-test-4.html"  >Self Test 4</a></li>
    <li class="{{ page.menu20b }}"><a href="/tutorial/20-ans-4.html"  >Test 4 Answers</a></li> -->
</ul>