<!DOCTYPE html> 
<html lang="en"> 
    {% include head.html %}
    <body> 
         {% include header.html %} 
        <main>
            {% if page.superWide == true %}
            <div class="container" style="max-width: 2048px;">
            {% else %}
            <div class="container"> 
            {% endif %}
                <div class="row">
                    <div class="col-lg-9 col-sm-12">
                        {% unless page.skipTitle == true %}
                            <h1 class="text-center">{{ include.title | default: page.pageTitle }}</h1> 
                        {% endunless %}
