RewriteEngine On
RewriteBase /
RewriteRule ^api/(.*?)/(.*)$ /api-bin/api.php?action=$1&arg=$2 [L]
RewriteCond %{HTTP_HOST} ^drawshield\.net [OR]
RewriteCond %{HTTP_HOST} ^www\.drawshield\.net$
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://drawshield.net/$1 [R,L]
RewriteRule ^gallery/gallery-(..)(..).html /gallery/$1/gallery-$1$2.html [R,L]
RewriteRule ^gallery/../$ /gallery/index.html [R,L]
RewriteRule ^gallery/random/$ /gallery/random.php [R,L]
RewriteRule ^gallery/random$ /gallery/random.php [R,L]
RewriteRule ^gallery/(..)(..)$ /gallery/$1/gallery-$1$2.html [R,L]

